@import "./reset.scss";
@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

main {
  margin: 0 auto;
  width: 500px;
  height: 100vh;
  background-color: rgba(249, 233, 238, 0.8);
}
/* span {
  font-size: 16px;
}

p {
  color: #999999;
  font-size: 14px;
}

h1,
h2,
h3 {
  letter-spacing: -2px;
}

::-webkit-scrollbar {
  display: none;
}

a,
a:active,
a:hover,
a:visited,
a:link {
  text-decoration: none;
  color: black;
}

button:hover {
  cursor: pointer;
}

#__next {
  width: 100%;
}

.Gift:nth-child(even) {
  border-radius: 50%;
}

.Gift:nth-child(odd) {
  border-radius: 12px;
}

main {
  width: 100%;
  height: 100vh;

  background-color: #f9e9ee;

  background-color: rgba(
    249,
    233,
    238,
    0.8
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}


.css-1b0ve20 > :not(style) {
  margin: 0;
}

.form-label {
  margin: 0;
  margin-left: -40px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  outline: darkblue;
  padding: 10px 15px;
  height: 34px;
  margin: 5px;
} */
