.SearchInputBox {
  > form {
    position: relative;
    > .SearchInput {
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      position: absolute;
      transition: 0.3s;
      width: 0;
      overflow: hidden;
      &.visible {
        width: 100px;
      }
      > input {
        padding: 12px;
      }
    }
    > button {
      width: 45px;
      height: 45px;
    }
  }
}
