.Button {
  width: 100%;
  padding: 10px;
  border: none;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--blue);

  font-size: 16px;
  &:hover,
  &.active {
    background-color: var(--deepBlue);
  }
}
