.Coin {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.naverSearchImg {
  width: 100%;
  --p: width;
  height: var(--p) px;
}

.WishList {
  display: flex;
  flex-wrap: wrap;
}

.ListItem {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
  width: 50%;
}

.treeListImg {
  width: 100%;
  --p: width;
  height: var(--p) px;
  border-radius: 10px;
  margin-bottom: 6px;
}

.ImgDescription {
  width: 100%;
  display: block;
  text-align: center;
}

.ItemTitle {
  font-size: 0.9rem;
}

.Price {
  padding: 5px 0;
}

.DeleteButton {
  width: 100%;
  background-color: #b2d3e1;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.SendButton {
  width: 100%;
  background-color: #b2d3e1;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
